## Assignment 5
### Objective: Identify presence of heart disease.

#### Dataset
Data: https://www.kaggle.com/ronitf/heart-disease-uci

##### Possible Work to be done
1.	What is the primary objective that you are addressing and why?
2.	For all the independent variables given, state the discrete variables and their types (For example Nominal/Ordinal …).
3.	Find the independent variables which are good candidates for data transformation
4.	Transform any one variable which is interval/ratio to categorical variable
5.	Transform any one variable which is interval/ratio to ordinal variable
6.	Is there any association between any two interval/ratio variable. How will you go about it?
7.	Which graph type would you prefer to use for visualizing each variable
8.	What will be your criteria to select the classification algorithm?
9.	How will you evaluate the performance of two classifier that you investigated and state which is better
10. Can you deploy your model in real time? What are the challenges?

In [1]:
import numpy as np
import pandas as pd

In [2]:
heart_disease_dataset = pd.read_csv("./heart.csv") 
print("The data set has {} rows and {} columns".
      format(heart_disease_dataset.shape[0],
             heart_disease_dataset.shape[1]))

The data set has 303 rows and 14 columns

### 1.	What is the primary objective that you are addressing and why?

This dataset gives a number of variables along with a target condition of having or not having heart disease. 
#### Our "primary objective" is to use this data set and build a machine learning model which would help doctors to predict the presence of heart disease in the patient.

### 2. For all the independent variables given, state the discrete variables and their types (For example Nominal/Ordinal …).

In [3]:
# Find the uniqe values of each variable.
heart_disease_dataset.nunique()

age          41
sex           2
cp            4
trestbps     49
chol        152
fbs           2
restecg       3
thalach      91
exang         2
oldpeak      40
slope         3
ca            5
thal          4
target        2
dtype: int64

Its clear from the above considering unique values of columns, there are 13 independent variables and 1 target variable.

### Discrete Independent Variables and Types

#### A. Nominal , Binary
1. sex (0 = female; 1 = male)
2. fbs: Fasting blood sugar > 120 mg/dl (0 = no; 1 = yes)
3. exang: Exercise induced angina (0 = no; 1 = yes)

#### B. Nominal , Categorical
1. cp: Chest pain type (0 = Asymptomatic angina; 1 = Atypical angina; 2 = Non-angina; 3 = Typical angina)
2. restecg: Resting ECG (0 = Left ventricular hypertrophy; 1 = Normal; 2 = ST-T wave abnormality)
3. slope: Slope of the peak exercise ST segment (0 = downsloping; 1 = upsloping; 2 = flat)
4. thal: Thalium stress test result (0 = NA; 1 = Fixed defect; 2 = Normal; 3 = Reversible defect)

#### C. Ordinal
1. ca: number of major vessels (0-3)




### Continuous variables
1. age - The person's age in years
2. chol - The person's cholesterol measurement in mg/dl
3. trestbps - The person's resting blood pressure
4. thalach - The person's maximum heart rate achieved
5. oldpeak - ST depression induced by exercise relative to rest

### 3.	Find the independent variables which are good candidates for data transformation

In [4]:
#TBD

### 4.	Transform any one variable which is interval/ratio to categorical variable

In [5]:
# Age is a ratio variable , Let's convert them to categorical and add a new column 'Age Group'
# 0 ~ 17 - Child
# 18 ~ 60 - Adult
# 60 - 99 - Elderly

In [6]:
category = pd.cut(heart_disease_dataset.age,bins=[0,17,60,99],
       labels=['Child','Adult','Elderly'])
heart_disease_dataset.insert(1,'agegroup',category)

In [7]:
heart_disease_dataset.sample(10)

,age,agegroup,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
299,45,Adult,1,3,110,264,0,1,132,0,1.2,1,0,3,0
228,59,Adult,1,3,170,288,0,0,159,0,0.2,1,0,3,0
99,53,Adult,1,2,130,246,1,0,173,0,0.0,2,3,2,1
57,45,Adult,1,0,115,260,0,0,185,0,0.0,2,0,2,1
19,69,Elderly,0,3,140,239,0,1,151,0,1.8,2,2,2,1
289,55,Adult,0,0,128,205,0,2,130,1,2.0,1,1,3,0
288,57,Adult,1,0,110,335,0,1,143,1,3.0,1,1,3,0
129,74,Elderly,0,1,120,269,0,0,121,1,0.2,2,1,2,1
150,66,Elderly,1,0,160,228,0,0,138,0,2.3,2,0,1,1
110,64,Elderly,0,0,180,325,0,1,154,1,0.0,2,0,2,1

### 5.	Transform any one variable which is interval/ratio to ordinal variable